---
//import Counter from "../components/Counter.jsx";
import Applicant from "../components/Applicant.jsx";
import "../styles/styles.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Second Look</title>
  </head>
  <body>
    <Applicant client:load />
  </body>
</html>
